body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('cutebackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.ror{
    background-color: rgba(198, 143, 219, 0.633);
    width: 40%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 20px 25px;
}
.center{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0;
    margin-top: 200px;
    margin-bottom: 100px;
}
.h1{
    margin-top: 50px;
    color: white;
    margin-bottom: -25px;
}
.submit{
    margin-top: 50px;
    margin-bottom: 50px;
}
.input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.name{
    color: white;
    text-align: center;
}
.email{
    color: white;
    margin-top: 25px;
    border-radius: 25px;
    text-align: center;
}
.kotakname{
    margin-top: 15px;
}
.kotakemail{
    margin-top: 15px;
}
.designsubmit{
    background-color: rgba(164, 87, 223, 0);
    width: 150px;
    height: 30px;
    color: aliceblue;
}
.designname{
    background-color:white;
    border-radius: 15px;
    width: 300px;
    height: 25px;
}
.designemail{
    border-radius: 15px;
    background-color: white;
    width: 300px;
    height: 25px;
}
.stiker{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: -35px;
    border-radius: 100px;
}
.error{
    color: white;
}