.navbar{
    background: linear-gradient(to right, rgb(255, 111, 135), pink);
}
.nav-link{
    color: white;
}
.navbar-brand{
    color: white;
}
.nav-link:hover{
    color: black;
}
.containerawal{
    background: linear-gradient(to right, rgb(255, 111, 135), pink);
    height: 600px;
    width: 100%;
    padding-top: 50px;
}
.container1{
    background-color: pink;
    width: 800px;
    height: 400px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}
#columnright{
    padding-top: 55px;
}
.list{
    margin-left: 20px;
    display: flex;
    justify-content: left;
    margin-top: 15px;
    color: white;
}
.list:hover{
    color: rgb(255, 60, 92);
}
.abouth{
    color: white;
    text-shadow: 3px 3px rgba(241, 136, 153, 0.703);
}
.abouth:hover{
    color:  rgba(241, 136, 153, 0.703);
    text-shadow: 3px 3px white;
}
.container1{
    margin: 0 auto;
}
.gif{
    width: 800px;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    margin-left: 115px;
    margin-bottom: 100px;
    border-radius: 20px;
}

@media screen and (max-width: 476px) {
    .navbar{
        width: 850px;
    }
    .navbar-brand{
        font-size: 50px;
        font-weight:800;
    }
    .containerawal{
        height: 2200px;
        width: 850px;
    }
    .container1{
        margin: 0 auto;
        width: 1000px;
        height: 700px;
        margin-top: 150px;
    }
    .gif{
        width: 800px;
        margin-top: 150px;
        margin-left: 125px;
        border-radius: 50px;
    }
}
@media screen and (max-width: 1025px) {
    .navbar{
        width: 1025px;
    }
    .containerawal{
        height: 2200px;
        width: 1025px;
    }
    .container1{
        margin: 0 auto;
        width: 800px;
        height: 400px;
        margin-top: 150px;
    }
}
@media screen and (max-width: 1920px) {
    .gif{
        margin: 0 auto;
        margin-top: 200px;
        margin-bottom: 200px;
    }
}
