.navbar{
    background: linear-gradient(to right, rgb(255, 111, 135), pink);
}
.nav-link{
    color: white;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: pink;
}
.nav-link:hover{
    color: rgb(255, 111, 135);
}
.card{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;
    
}
.img-fluid{
    width: 100%;
}
.card-text{
    color: white;
}
.crdtext{
    background-color: pink;
}
.card-title{
    color: white;
    text-shadow: 2px 2px  rgb(255, 111, 135);
}
.card-title:hover{
    color:  rgb(255, 111, 135);
    text-shadow: 2px 2px white;
}
.rounded1{
    height: 100px;
    width: 100px;
}
.rounded{
    height: 400px;
    width: 400px;
    margin-top: 10%;
}
.img-fluid{
    height: 300px;
    width: 300px;
}
.ror{
    display: flex;
    justify-content: center;
    margin-bottom: -100px;
}
.card-body{
    margin-top: 35px;
}
    